@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<address>
    UA UNIVERSITY<br />
   Location : Baabda, Lebanon<br />
   Phone    :03864499
    Work Time : Monday --> Friday from 8AM --> 4 PM
</address>

<address>
    <strong>Any problem ? contact us ^_^ </strong>   <a href="mailto:ahmadelnajdi@gmail.com">ahamdelnajdi@gmail.com</a><br />
    
</address>
